body{
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  min-height: 30px;
  padding: 10px;
  color: white;
}

.App-intro {
  font-size: large;
}

h2{
  margin: 0;
}
